<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrption</title>
</head>
<body>
    <h1>Get Key Pairs</h1>
    <div><label for="publicKey">Public Key:</label>
    
    <textarea id="Publickey" name="Publickey" rows="4" cols="50" readonly> <%= publicKey %>  </textarea></div>
    <div> <label for="privateKey">Private Key:</label>
   
    <textarea id="privateKey" name="privateKey" rows="4" cols="50" readonly> <%= privateKey %>  </textarea></div>
   
    <form action="/generate" method="post">

    <button >Generate</button>
    </form>


    <h1>Encrypt</h1>
    <form action="/encrypt" method="post" enctype="multipart/form-data">
    <div><label for="publicKey">Public Key:</label>
    
        <textarea id="publicKey" name="publicKey" rows="4" cols="50" >   </textarea>
    </div>
        <input type="file" name="image" accept="image/*">
        <button type="submit" name="button" value="Compose">Encrypt</button>
    </form>
    <textarea id="encrypted" name="encrypted" rows="4" cols="50" readonly> <%=  encryptedData %>  </textarea>

    <h1>Decrypt</h1>
    <form action="/decrypt" method="post" enctype="multipart/form-data">
    <div><label for="privateKey">Private Key:</label>
    
        <textarea id="privateKey" name="privateKey" rows="4" cols="50" >   </textarea>
    </div>
    <div><label for="Ecncrypted-data">Ecncrypted data</label>
    
        <textarea id="ecncryptedData" name="ecncryptedData" rows="4" cols="50" >   </textarea>
    </div>
        <button type="submit" name="button" value="Compose">Decrypt and download</button>

</body>
</html>